# Ignore node_modules in the root directory
node_modules/

# Ignore packages' node_modules
/packages/*/node_modules/

# Ignore lerna-debug.log file
lerna-debug.log

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore coverage directory
coverage/

# Ignore .env files
.env

# Ignore yarn-error.log
yarn-error.log

# Ignore .idea directory (if using WebStorm or IntelliJ)
.idea/

# Ignore VS Code settings
.vscode/

# Ignore compiled output (e.g., build folders)
/dist/
/lib/
/build/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore yarn v2
.pnp/
.pnp.js

# Ignore pnpm debug logs
pnpm-debug.log

# Ignore Next.js build output
.next/
*.har
